.Card {
  width: 100%;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: rgb(49, 49, 49);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      font-size: 1.5em;
      background-color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      background-color: white;
      margin-bottom: 0;
      padding-top: 20px;
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    .ctaButton {
      padding: 8px 12px;
      font-size: 20px;
      border: 0;
      background-color: #02cf87;

      &:hover {
        background-color: #00f19d;
      }
    }

    .container {
      width: 100%;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      p:hover {
        text-decoration: underline;
      }

      .ctaButton {
        width: 100%;
        border-radius: 12px;
        color: #2c2c2c;
      }

      .linkAmz {
        background-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .Card {
    flex-direction: row;
    justify-content: space-between;

    a {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .text {
        width: 50%;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid rgb(210, 210, 210);
        background-color: rgb(248, 248, 248);
        border-radius: 12px;
        padding: 20px;
        width: 40%;

        p {
          width: 100px;
          padding-bottom: 20px;
        }

        .ctaButton {
          width: 250px;
          padding: 10px;
        }
      }
    }
  }
}
