// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//
$body: #11181c;
$background-color: #061d25;
$text: white;
$hoverColor: #02aa7a;
